#corpo {
  background-image: url('assets/2.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body{
width: 400px;

}

#fundosite{
background-color: black;
color: azure;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
width: 800px;
height: 1000px;
text-align: ;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

